/*--------------------------------------------------
ALWAYS INCLUDE
--------------------------------------------------*/

/*// FOR REFERENCE

// Military gold #F3CF45
// red #e63946
// pearl #f1faee
// teal #a8dadc
// sky blue #457b9d
// royal blue #1d3557

// font-family: 'Exo 2', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Raleway', sans-serif;*/

* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html{
	font-size:14px;
}

/*--------------------------------------------------
BASIC LAYOUT
--------------------------------------------------*/

/*-----------HEADER-------------*/









/*-----------NAVBAR-------------*/
.navBarComponent{
	background: none;
}

.nav-item{
	color: #F3CF45;
	padding: 0;
	height: 10%;
	background: none;
	margin-left: .3em;
	margin-right: .3em;
	border-radius: .8em;
    border: 2px solid #F3CF45;
    width: 100%;
    text-align: center;

}

a#navButton{
	color: #F3CF45;
	font-family: 'Exo 2', sans-serif;
	font-size: .8em;
}

nav.headerComponent{
	background: #1d3557;
}
