/*--------------------------------------------------
ALWAYS INCLUDE
--------------------------------------------------*/

/*// FOR REFERENCE

// Military gold #F3CF45
// red #e63946
// pearl #f1faee
// teal #a8dadc
// sky blue #457b9d
// royal blue #1d3557

// font-family: 'Exo 2', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Raleway', sans-serif;*/

* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html{
	font-size:14px;
}


/*------------ GROUP CHAT MODULE --------------*/
#groupChatSection{
	
}
div#groupChat{ 

	padding:1.5em;
	height: 20em;
	background: none;
	border: .2em solid #1d3557;
	overflow-y: scroll;
	margin: auto;	
	margin-top: 2em;

}
.groupChatHeader{
	text-align: center;
	padding: 1.5em;

}
.groupChatBody{
	padding: 1.5em;
}
/*---------------------------------------------*/

/*----------- ABOUT SECTION ON HOMEPAGE -------*/
.aboutSection{
	display: inline-block;
	padding: 1.5em;
	margin: auto;
}