/*--------------------------------------------------
ALWAYS INCLUDE
--------------------------------------------------*/

/*// FOR REFERENCE

// Military gold #F3CF45
// red #e63946
// pearl #f1faee
// teal #a8dadc
// sky blue #457b9d
// royal blue #1d3557

// font-family: 'Exo 2', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Raleway', sans-serif;*/
/* 

*/
* {
	font-family: PT Sans, sans-serif;
	box-sizing: border-box;

}

img {
	max-width: 100%;
}

html{
	font-size:14px;
	background-color: white;
}

/* 

*/
.container-fluid {
	background-color: white
}
/* 

*/
#loginButton {
	background-color: #375f39;
	color: #f1faee;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}
#registerButton {
	background-color: #1d3557;
	color: #f1faee;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}
#navbar {
	background-color: #C7E1E2;
}

#groupJoin {
	background-color: #e63946;
	font-size: 16px;
	color:#f1faee;

}

