/*--------------------------------------------------
ALWAYS INCLUDE
--------------------------------------------------*/

/*// FOR REFERENCE

// Military gold #F3CF45
// red #e63946
// pearl #f1faee
// teal #a8dadc
// sky blue #457b9d
// royal blue #1d3557

// font-family: 'Exo 2', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Raleway', sans-serif;*/
/* 

/*
#2b2d42

#8d99ae

#edf2f4

#ef233c

#d90429
*/

/*----------- HEADER -----------------------------*/
.logo{
	width:20em;
	padding: 2em;
}

/*------------- BODY -----------------------------*/
.container div{
	background: #8d99ae;

}

/*------------- NAVBAR ---------------------------*/
.navBarComponent a{
	font-family: 'Exo 2', sans-serif;
	background: none;
}

.navBarComponent a:hover{

	border-bottom: .1em dashed #F3CF45;
}

.headerComponent{
	font-family: 'Exo 2', sans-serif;
	background: none;
}

/*------------ JOINED GROUPS MODULE --------------*/

.joinedGroupsContainer{ 

	padding:1.5em;
	height: 20em;
	background: none;
	border: .1em dashed #F3CF45;
	overflow-y: scroll;
	margin: auto;	
	margin-top: 2em;
	text-align: center;

}

.joinedGroupsContainer p{
	padding: .2em;
	margin: auto;
}

.joinedGroupsContainer h4{
	padding: .2em;
	margin: auto;
	text-align: left;
}

.singleGroupSnapshot{
	border-bottom: .1em solid #1d3557;
	padding-left: .2em;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em; 
}

/*---------------------------------------------*/

/*----------- ABOUT SECTION ON HOMEPAGE -------*/

/*---------- registration and login -----------*/

.loginComponent h3{

	font-family: 'Exo 2', sans-serif;

}

.loginComponent{

	border-left: .1em solid #F3CF45;

}


#loginLabel{
	color: white;
	font-family: 'Exo 2', sans-serif;

}

#registerLabel{
	color: white;
	font-family: 'Exo 2', sans-serif;

}

#loginForm input{
	border: .1em solid #F3CF45;
	background: none;
	color: white;
	font-family: 'PT Sans', sans-serif;

}
#registerH3 {
	font-family: 'Exo 2', sans-serif;
}
#loginH3 {
	font-family: 'Exo 2', sans-serif;
}


#registerForm input{
	border: .1em solid #F3CF45;
	background: none;
	color: white;
	font-family: 'PT Sans', sans-serif;
}

.btn-success{
	background: bluesteel;
}

.btn-primary{
	background: bluesteel;

}

.aboutSection{
	padding: 1.5em;
	margin: auto;
}

.auth-container div{
	background: #2b2d42;
	color: white;
}


/*------------ FOOTER -------------------------*/
#footerUl{
	width: 100em;
	margin: auto;
	text-align: center;
	background: none;
}
#footerFooter{
	margin: auto;
	background: none;
	text-align: center;
}

#groupJoin {
	background-color: #e63946;
	font-size: 16px;
	color:#f1faee;
}

